# Exercices
---

## Question 1

Write an equation using addition and subtraction which output an integer 100.

## Question 2
Write an equation using addition, multiplication, division, an exponent, and subtraction which output a float 50.50.

## Question 3

What is the value of the expression (4 * (6 + 1000) )/ 100000 using exponent.

Display the result using exponential format.

## Question 4

Translate the following calculations:
- Five power two
- Square root eighty one
- Cubic root twenty seven

## Question 5

Display a sentence where you fill in blanks " My Name is ____, I am ____ years old and live in ___" with your name,age and city.

## Question 6

From the previous sentence, divide the sentence in three parts where each one contains successively name, age and city

## Question 7

Count the number of occurences of the letter 'n'

## Question 8

Build a list of prime numbers inferior to 20

## Question 9

Give the previous list length

## Question 11

Reverse the previous list

## Question 12

Convert previous list to a tuple

## Question 13

Create a dictionnary where John, Chris, Jack, Sarah and Isabel have earned a revenue of 100,2000, 300, 3000,500

## Question 14

Display keys of the previous dictionnary

## Question 15

Display values of the previous dictionnary

## Question 16

We made a mistake concerning Isable, she has earned 800. Correct this

## Question 17

Who has the highest revenue ?

## Question 18

We forgot June, She has an revenue of 1000, Correct this

## Question 19

Why would we use tuple instead of lists ?

## Question 20

Use a set to find the unique values of the list below:

[1,2,2,33,4,4,11,22,3,3,2]

## Question 21

Given a random list, how do we verify it doesn't contain duplicates ?

[56, 49, 92, 18, 70, 83]

[14, 13, 2, 15, 12, 2, 3, 16, 9, 5, 2]

[12, 17, 20, 7, 5, 1, 23, 17, 14, 25, 5, 22, 24, 15, 26, 18, 17, 21, 6, 28]

*hint: use sets and generate random list with *

## Question 22

Is:
- 1e3 + 99 equal 1e4 -1  ?
- 1e4 -1 superior to 1e3 + 999 + 1  ?
- 1e4 - 999*1e1  inferior to 1e3 + 999 + 100  ?

## Question 23

Build a list of length 10 and from it built a dictionnary where keys are this list indexes and values are list values

*For example:*

[10,100]

{0:10, 1: 100}

## Great Job on the exercices!